@import url('../UI-Components/css/component/button.css');
@import url('../UI-Components/css/component/reset.css');
@import url('../UI-Components/css/component/colors.css');
@import url('../UI-Components/css/component/spacing-properties.css');
@import url('../UI-Components/css/component/display-properties.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}
.clock-body{
    width: 65%;
    background-color: rgba(0, 0, 0, 9);
    padding-bottom: 30px;
    position: absolute;
    top: 30%;
    left: 18%;
    border-top: 4px solid red;
    border-left: 4px solid orange;
    border-bottom: 4px solid yellow;
    border-right: 4px solid blue;
    box-shadow: 4px 6px 12px 2px black;
    border-radius: 4px;
}
.clock-body > h1 {
    padding: 30px;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 20px;
}
.digit-container {
    display: inline;
    padding: 0 25px;
}
.hours,.minutes,.seconds {
    margin-bottom: 20px;
}
.hours div,.minutes div,.seconds div {
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 0 2px;
}
.digit-container h1{
    font-size: 100px;
    display: inline;
    padding: 0 5px;
}
.digit-container h2{
    color: white;
    text-align: center;
}
.background-yellow,.background-orange,.background-red {
    opacity: .9;
}
.period {
    position: relative;
    margin-top: 49px;
    margin-left: 15px;
}
.background-white h2 {
    font-size: 40px;
    color: blue;
    padding: 4px 8px 5px;
}
.footer {
    position: absolute;
    top: 77%;
    left: 72%;
}
.footer button {
    padding: 8px 70px;
    margin-bottom: 10px;
}
.footer h2 {
    color: black;
    font-size: 25px;
}
.footer span {
    color: red;
    font-style: italic;
    font-size: 20px;
}

@media screen and (max-width: 1100px) {
    .digit-container h1 {
        font-size: 50px;
    }
    .background-white h2 {
        font-size: 25px;
    }
    .footer {
        top: 75%;
        left: 65%;
    }
    .period {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .digit-container h1 {
        font-size: 30px;
    }
    .background-white h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 690px) {
    body {
        display: none;
    }
}

